<h2>Name:</h2>

<label><%= @recipe.name %></label>
<br>
<br>
<h2>Ingredients:</h2>

<label><%= @recipe.ingredients %></label>
<br>
<br>
<h2>Instructions:</h2>

<label><%= @recipe.instructions %></label>
<br>
<br>
<br>



<form method="get" action="/
recipes/<%=@recipe.slug%>/edit">
  <input type="submit" name="edit_recipe" value="Edit Recipe">
</form>

  <form method="post" action="/recipes/<%=@recipe.slug%>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete_recipe" value="Delete Recipe">
</form>

<a href="/recipes">Show All Recipes</a>